<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<div>
<h1>Welcome to the site made by <i>WaznyKamo</i></h1>
<h4>It was created mainly to train making web pages in Flask.<br>
    The intention behind it is to work kind of like a online shop <br>
    with a great focus on the back-end part.<br><br></h4>
</div>

Check out the <a href="{{ url_for('show_categories') }}">categories</a><br>
Check out the <a href="{{ url_for('show_products') }}">products</a>

</body>
</html>
